<div class="vc_row wpb_row vc_row-fluid edgtf-row-with-shadow"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-blog-list-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-bl-standard edgtf-three-columns edgtf-no-space edgtf-bl-pag-no-pagination" data-type=standard data-number-of-posts=3 data-number-of-columns=three data-space-between-items=no data-category=esports data-orderby=date data-order=ASC data-image-size=full data-title-tag=h5 data-post-info-section=yes data-post-info-image=yes data-post-info-author=no data-post-info-date=yes data-post-info-category=yes data-post-info-comments=no data-post-info-excerpt=yes data-excerpt-length=8 data-post-info-like=no data-post-info-share=no data-pagination-type=no-pagination data-max-num-pages=1 data-next-page=2>
    <div class="edgtf-bl-wrapper edgtf-outer-space">
    <ul class="edgtf-blog-list">
    <li class="edgtf-bl-item edgtf-item-space">
    <div class="edgtf-bli-inner">
    <div class="edgtf-post-image">
    <a itemprop="url" href="/white-keep-assault/" title="White Keep Assault">
    <img width="1300" height="840" src="/images/blog-2-img-3.jpg" class="attachment-full size-full wp-post-image" alt="a" srcset="/images/blog-2-img-3.jpg 1300w, /images/blog-2-img-3-300x194.jpg 300w, /images/blog-2-img-3-768x496.jpg 768w, /images/blog-2-img-3-1024x662.jpg 1024w, /images/blog-2-img-3-800x517.jpg 800w" sizes="(max-width: 1300px) 100vw, 1300px" /> </a>
    </div>
    <div class="edgtf-bli-content">
    <div class="edgtf-bli-info">
    <div class="edgtf-post-info-category">
    <a href="/category/esports/" rel="category tag">Esports</a></div> </div>
    <h5 itemprop="name" class="entry-title edgtf-post-title">
    <a itemprop="url" href="/white-keep-assault/" title="White Keep Assault">
    White Keep Assault </a>
    </h5> <div itemprop="dateCreated" class="edgtf-post-info-date entry-date published updated">
    <a itemprop="url" href="/2018/06/">
    June 4, 2018 </a>
    <meta itemprop="interactionCount" content="UserComments: 0" />
    </div> <div class="edgtf-post-excerpt-holder">
    <p itemprop="description" class="edgtf-post-excerpt">
    Maecenas tempus, tellus eget condimentum rhoncus, sem quam </p>
    </div>
    </div>
    </div>
    </li><li class="edgtf-bl-item edgtf-item-space">
    <div class="edgtf-bli-inner">
    <div class="edgtf-post-image">
    <a itemprop="url" href="/dota-2-tournament/" title="Dota 2 Tournament">
    <img width="1300" height="840" src="/images/blog-2-img-2.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="lazy" srcset="/images/blog-2-img-2.jpg 1300w, /images/blog-2-img-2-300x194.jpg 300w, /images/blog-2-img-2-768x496.jpg 768w, /images/blog-2-img-2-1024x662.jpg 1024w, /images/blog-2-img-2-800x517.jpg 800w" sizes="(max-width: 1300px) 100vw, 1300px" /> </a>
    </div>
    <div class="edgtf-bli-content">
    <div class="edgtf-bli-info">
    <div class="edgtf-post-info-category">
    <a href="/category/esports/" rel="category tag">Esports</a></div> </div>
    <h5 itemprop="name" class="entry-title edgtf-post-title">
    <a itemprop="url" href="/dota-2-tournament/" title="Dota 2 Tournament">
    Dota 2 Tournament </a>
    </h5> <div itemprop="dateCreated" class="edgtf-post-info-date entry-date published updated">
    <a itemprop="url" href="/2018/06/">
    June 4, 2018 </a>
    <meta itemprop="interactionCount" content="UserComments: 0" />
    </div> <div class="edgtf-post-excerpt-holder">
    <p itemprop="description" class="edgtf-post-excerpt">
    Maecenas tempus, tellus eget condimentum rhoncus, sem quam </p>
    </div>
    </div>
    </div>
    </li><li class="edgtf-bl-item edgtf-item-space">
    <div class="edgtf-bli-inner">
    <div class="edgtf-post-image">
    <a itemprop="url" href="/winners-on-esl-pro/" title="Winners on ESL Pro">
    <img width="1300" height="840" src="/images/blog-2-img-1.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="lazy" srcset="/images/blog-2-img-1.jpg 1300w, /images/blog-2-img-1-300x194.jpg 300w, /images/blog-2-img-1-768x496.jpg 768w, /images/blog-2-img-1-1024x662.jpg 1024w, /images/blog-2-img-1-800x517.jpg 800w" sizes="(max-width: 1300px) 100vw, 1300px" /> </a>
    </div>
    <div class="edgtf-bli-content">
    <div class="edgtf-bli-info">
    <div class="edgtf-post-info-category">
    <a href="/category/esports/" rel="category tag">Esports</a></div> </div>
    <h5 itemprop="name" class="entry-title edgtf-post-title">
    <a itemprop="url" href="/winners-on-esl-pro/" title="Winners on ESL Pro">
    Winners on ESL Pro </a>
    </h5> <div itemprop="dateCreated" class="edgtf-post-info-date entry-date published updated">
    <a itemprop="url" href="/2018/06/">
    June 4, 2018 </a>
    <meta itemprop="interactionCount" content="UserComments: 0" />
    </div> <div class="edgtf-post-excerpt-holder">
    <p itemprop="description" class="edgtf-post-excerpt">
    Maecenas tempus, tellus eget condimentum rhoncus, sem quam </p>
    </div>
    </div>
    </div>
    </li> </ul>
    </div>
    </div></div></div></div></div>