<div class="edgtf-full-width">
    <div class="edgtf-full-width-inner">
    <div class="edgtf-grid-row">
    <div class="edgtf-page-content-holder edgtf-grid-col-12">
    <div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="wpb_revslider_element wpb_content_element">
    <p class="rs-p-wp-fix"></p>
    
    {% include rsslider.html %}
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid edgtf-row-with-shadow edgtf-content-aligment-center">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner vc_custom_1529910901070">
    <div class="wpb_wrapper">
    <div class="edgtf-row-grid-section-wrapper " style="background-image: url(/images/p3-background-img-1.jpg)">
    <div class="edgtf-row-grid-section">
    <div class="vc_row wpb_row vc_inner vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 ">
    <div class="edgtf-eh-item  edgtf-vertical-alignment-top edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-8415">
    <div class="edgtf-eh-item-inner">
    <div class="edgtf-eh-item-content edgtf-eh-custom-8415" style="padding: 15px 0 20px">
    <div class="edgtf-clients-carousel-holder edgtf-cc-hover-roll-over">
    <div class="edgtf-cc-inner edgtf-owl-slider" data-number-of-items="6" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="no" data-enable-pagination="no">
    
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-1.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-1.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-2.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-2.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-3.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-3.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-4.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-4.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-5.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-5.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-6.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-6.png" alt="a" />
    </a>
    </div> 
    
    </div>
    </div> </div>
    </div>
    </div></div></div></div></div></div></div></div></div></div></div></div>
    
    <div class="edgtf-row-grid-section-wrapper edgtf-content-aligment-center">
    <div class="edgtf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1530543022555 vc_row-o-content-middle vc_row-flex">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-section-title-holder  edgtf-st-standard ">
    <div class="edgtf-st-inner">
    <h3 class="edgtf-st-title">
    AN <span class="edgtf-st-title-hightlight">OP</span> THEME JUST FOR GAMERS </h3>
    <div class="edgtf-st-separator">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
         
         <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
         
    </svg>
    </div>
    <p class="edgtf-st-text">
    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non. </p>
    </div>
    </div>
    </div></div></div></div></div></div>
    <!--
    shit happens
    -->
    
    {% include dude.html %}
    
    
    <div class="edgtf-row-grid-section-wrapper "><div class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1530543071906"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-section-title-holder  edgtf-st-standard " style="text-align: center">
    <div class="edgtf-st-inner">
    <h3 class="edgtf-st-title">
    Watch Live Streams </h3>
    <div class="edgtf-st-separator">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
         
         <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
         
    </svg> </div>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 88px"><span class="vc_empty_space_inner"></span></div><div class="edgtf-tabs tabs-without-padding edgtf-tabs-standard ">
    <ul class="edgtf-tabs-nav clearfix">
    <li>
    <a href="#tab-twitch">Twitch</a>
    </li>
    <li>
    <a href="#tab-youtube">Youtube</a>
    </li>
    <li>
    <a href="#tab-mixer">Mixer</a>
    </li>
    </ul>
    <div class="edgtf-tab-container" id="tab-twitch-77"><div class="edgtf-stream-box-holder  edgtf-sb-standard">
    <div class="edgtf-sb-main-stream-item">
    <div class="edgtf-sb-main-stream-holder">
    <a class="edgtf-sb-link" href="https://www.twitch.tv/" target="_blank"></a>
    <div class="edgtf-sb-main-image">
    <img width="1245" height="700" src="/images/h1-streambox-v2-img-1.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-1.jpg 1245w, /images/h1-streambox-v2-img-1-300x169.jpg 300w, /images/h1-streambox-v2-img-1-768x432.jpg 768w, /images/h1-streambox-v2-img-1-1024x576.jpg 1024w, /images/h1-streambox-v2-img-1-800x450.jpg 800w" sizes="(max-width: 1245px) 100vw, 1245px" /> </div>
    <a class="edgtf-video-button-play" href="https://www.twitch.tv/" target="_blank">
    <span class="edgtf-video-button-play-inner">
    <i class="fas fa-play"></i>
    </span>
    </a>
    <div class="edgtf-sb-text-holder">
    <a href="https://www.twitch.tv/" target="_blank">
    <h5 class="edgtf-sb-title">Destiny 2 Gameplay</h5>
    </a>
    <div class="edgtf-sb-platform">twitch</div>
    <div class="edgtf-sb-channel">oyakkodon</div>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-1.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://www.twitch.tv/" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-2.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-2.jpg 621w, /images/h1-streambox-v2-img-2-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">CS: GO STREAM</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-2.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://www.twitch.tv/" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-3.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-3.jpg 621w, /images/h1-streambox-v2-img-3-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">Dota 2 Live</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-3.jpg);"></div>
    </div>
    </div></div>
    <div class="edgtf-tab-container" id="tab-youtube-902"><div class="edgtf-stream-box-holder  edgtf-sb-standard">
    <div class="edgtf-sb-main-stream-item">
    <div class="edgtf-sb-main-stream-holder">
    <a class="edgtf-sb-link" href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank"></a>
    <div class="edgtf-sb-main-image">
    <img width="1245" height="700" src="/images/h1-streambox-v2-img-5.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-5.jpg 1245w, /images/h1-streambox-v2-img-5-300x169.jpg 300w, /images/h1-streambox-v2-img-5-768x432.jpg 768w, /images/h1-streambox-v2-img-5-1024x576.jpg 1024w, /images/h1-streambox-v2-img-5-800x450.jpg 800w" sizes="(max-width: 1245px) 100vw, 1245px" /> </div>
    <a class="edgtf-video-button-play" href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank">
    <span class="edgtf-video-button-play-inner">
    <i class="fas fa-play"></i>
    </span>
    </a>
    <div class="edgtf-sb-text-holder">
    <a href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank">
    <h5 class="edgtf-sb-title">DOTA 2 LIVE</h5>
    </a>
    <div class="edgtf-sb-platform">youtube</div>
    <div class="edgtf-sb-channel">kasP Game</div>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-5.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-4.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-4.jpg 621w, /images/h1-streambox-v2-img-4-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">Street Fighter</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-4.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-6.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-6.jpg 621w, /images/h1-streambox-v2-img-6-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">Fortnite Live</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-6.jpg);"></div>
    </div>
    </div></div>
    <div class="edgtf-tab-container" id="tab-mixer-146"><div class="edgtf-stream-box-holder  edgtf-sb-standard">
    <div class="edgtf-sb-main-stream-item">
    <div class="edgtf-sb-main-stream-holder">
    <a class="edgtf-sb-link" href="https://mixer.com/" target="_blank"></a>
    <div class="edgtf-sb-main-image">
    <img width="1245" height="700" src="/images/h1-streambox-v2-img-7.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-7.jpg 1245w, /images/h1-streambox-v2-img-7-300x169.jpg 300w, /images/h1-streambox-v2-img-7-768x432.jpg 768w, /images/h1-streambox-v2-img-7-1024x576.jpg 1024w, /images/h1-streambox-v2-img-7-800x450.jpg 800w" sizes="(max-width: 1245px) 100vw, 1245px" /> </div>
    <a class="edgtf-video-button-play" href="https://mixer.com/" target="_blank">
    <span class="edgtf-video-button-play-inner">
    <i class="fas fa-play"></i>
    </span>
    </a>
    <div class="edgtf-sb-text-holder">
    <a href="https://mixer.com/" target="_blank">
    <h5 class="edgtf-sb-title">Destiny 2 Gameplay</h5>
    </a>
    <div class="edgtf-sb-platform">mixer</div>
    <div class="edgtf-sb-channel">kmagic101</div>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-7.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://mixer.com/" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-9.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-9.jpg 621w, /images/h1-streambox-v2-img-9-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">OVERWATCH LIVE</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-9.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://mixer.com/" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-8.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-8.jpg 621w, /images/h1-streambox-v2-img-8-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">Rocket League</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-8.jpg);"></div>
    </div>
    </div></div>
    </div>
    </div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1529567793848 vc_row-has-fill edgtf-row-with-shadow edgtf-content-aligment-left" style="background-image: url(/images/h1-background-img-1.jpg)"><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-offset-0 vc_col-lg-6 vc_hidden-md vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner vc_custom_1528296369765"><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_left">
    <figure class="wpb_wrapper vc_figure">
    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="608" height="608" src="/images/h1-img-1.png" class="vc_single_image-img attachment-full" alt="a" loading="lazy" title="h1-img-1" srcset="/images/h1-img-1.png 608w, /images/h1-img-1-150x150.png 150w, /images/h1-img-1-300x300.png 300w, /images/h1-img-1-550x550.png 550w, /images/h1-img-1-100x100.png 100w" sizes="(max-width: 608px) 100vw, 608px" /></div>
    </figure>
    </div>
    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 edgtf-one-column-alignment-left"><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-6807" data-1367-1600="157px 0 0px 0" data-1025-1366="159px 0 0 0" data-769-1024="117px 330px 159px 117px" data-681-768="118px 130px 158px 75px" data-680="120px 0 159px 22px">
    <div class="edgtf-eh-item-inner">
    <div class="edgtf-eh-item-content edgtf-eh-custom-6807" style="padding: 149px 0px 0px 111px">
    <div class="edgtf-section-title-holder  edgtf-st-standard edgtf-st-disable-title-break" style="padding: 0 0px;text-align: left">
    <div class="edgtf-st-inner">
    <h4 class="edgtf-st-title">
    GAME EXPO: Where digital<br /> worlds meet real<br /> innovation </h4>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><a itemprop="url" href="/esports-home/" target="_self" style="margin: -2px 0 0 0" class="edgtf-btn edgtf-btn-medium edgtf-btn-solid edgtf-solid-btn-with-shadow edgtf-btn-glow">
    <span class="edgtf-btn-text">View Schedule</span>
    </a> </div>
    </div>
    </div></div></div></div></div></div><div class="edgtf-row-grid-section-wrapper " style="background-image: url()"><div class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1530543083826"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-section-title-holder  edgtf-st-standard " style="text-align: center">
    <div class="edgtf-st-inner">
    <h3 class="edgtf-st-title">
    Trending Matches </h3>
    <div class="edgtf-st-separator">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
    
         
         <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
         
    
    </svg> </div>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 97px"><span class="vc_empty_space_inner"></span></div><div class="edgtf-tabs tabs-without-padding edgtf-tabs-standard ">
    <ul class="edgtf-tabs-nav clearfix">
    <li>
    <a href="#tab-all-matches">All Matches</a>
    </li>
    <li>
    <a href="#tab-upcoming-matches">Upcoming Matches</a>
    </li>
    <li>
    <a href="#tab-latest-results">Latest Results</a>
    </li>
    </ul>
    <div class="edgtf-tab-container" id="tab-all-matches-382"><div class="edgtf-match-list-holder-outer"><div class="edgtf-match-list-holder edgtf-match-skin-dark" data-next-page= 2 data-order-by= menu_order data-order= ASC data-number= 4 data-title-tag= h5 data-team-title-tag= h6 data-show-categories= yes data-show-date= yes data-skin= dark data-show-result= yes data-show-load-more= no data-max-num-pages = 3><article class="edgtf-match-status-to_be_played">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/necromancy-amplifier/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team5-banner.png" alt="Triarchy" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Triarchy </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_dark.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team6-banner.png" alt="Warmongers" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Warmongers </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>upcoming matches</span></span> </div>
    <h5 class="edgtf-match-title">
    Necromancy Amplifier </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">10th November 2018, 12:00</span> </div>
    </div>
    <div class="edgtf-match-stream-holder">
    <a href="https://www.twitch.tv/" target="_blank"><i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element" style=""></i><span>watch stream</span></a>
    </div>
    </div>
    </article><article class="edgtf-match-status-to_be_played">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/legendary-battles/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team3-banner.png" alt="Teuton Sons" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Teuton Sons </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_dark.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team4-banner.png" alt="Eldritch" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Eldritch </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>upcoming matches</span></span> </div>
    <h5 class="edgtf-match-title">
    Legendary Battles </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">10th December 2018, 12:00</span> </div>
    </div>
    <div class="edgtf-match-stream-holder">
    <a href="https://www.twitch.tv/" target="_blank"><i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element" style=""></i><span>watch stream</span></a>
    </div>
    </div>
    </article><article class="edgtf-match-status-to_be_played">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/battle-creek-onslaught/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team1-banner.png" alt="Kaiju Red" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Kaiju Red </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_dark.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team2-banner.png" alt="Lionhearts" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Lionhearts </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>upcoming matches</span></span> </div>
    <h5 class="edgtf-match-title">
     Battle Creek Onslaught </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">26th November 2019, 15:00</span> </div>
    </div>
    <div class="edgtf-match-stream-holder">
    <a href="https://www.twitch.tv/" target="_blank"><i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element" style=""></i><span>watch stream</span></a>
    </div>
    </div>
    </article><article class="edgtf-match-status-finished">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/nay-corral-gundown/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team7-banner.png" alt="Hacksaw" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Hacksaw </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_finished.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team1-banner.png" alt="Kaiju Red" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Kaiju Red </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>latest results</span></span> </div>
    <h5 class="edgtf-match-title">
    Nay Corral Gundown </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">4th June 2018, 12:00</span> </div>
    </div>
    <div class="edgtf-match-result-holder">
    <span class="edgtf-match-info-status">10:15</span>
    </div>
    </div>
    </article></div></div></div>
    <div class="edgtf-tab-container" id="tab-upcoming-matches-406"><div class="edgtf-match-list-holder-outer"><div class="edgtf-match-list-holder edgtf-match-skin-dark" data-next-page= 2 data-order-by= menu_order data-order= ASC data-number= 4 data-category= upcoming-matches data-status= to_be_played data-title-tag= h5 data-team-title-tag= h6 data-show-categories= yes data-show-date= yes data-skin= dark data-show-result= yes data-show-load-more= no data-max-num-pages = 2><article class="edgtf-match-status-to_be_played">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/necromancy-amplifier/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team5-banner.png" alt="Triarchy" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Triarchy </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_dark.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team6-banner.png" alt="Warmongers" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Warmongers </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>upcoming matches</span></span> </div>
    <h5 class="edgtf-match-title">
    Necromancy Amplifier </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">10th November 2018, 12:00</span> </div>
    </div>
    <div class="edgtf-match-stream-holder">
    <a href="https://www.twitch.tv/" target="_blank"><i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element" style=""></i><span>watch stream</span></a>
    </div>
    </div>
    </article><article class="edgtf-match-status-to_be_played">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/legendary-battles/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team3-banner.png" alt="Teuton Sons" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Teuton Sons </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_dark.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team4-banner.png" alt="Eldritch" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Eldritch </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>upcoming matches</span></span> </div>
    <h5 class="edgtf-match-title">
    Legendary Battles </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">10th December 2018, 12:00</span> </div>
    </div>
    <div class="edgtf-match-stream-holder">
    <a href="https://www.twitch.tv/" target="_blank"><i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element" style=""></i><span>watch stream</span></a>
    </div>
    </div>
    </article><article class="edgtf-match-status-to_be_played">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/battle-creek-onslaught/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team1-banner.png" alt="Kaiju Red" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Kaiju Red </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_dark.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team2-banner.png" alt="Lionhearts" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Lionhearts </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>upcoming matches</span></span> </div>
    <h5 class="edgtf-match-title">
    Battle Creek Onslaught </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">26th November 2019, 15:00</span> </div>
    </div>
    <div class="edgtf-match-stream-holder">
    <a href="https://www.twitch.tv/" target="_blank"><i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element" style=""></i><span>watch stream</span></a>
    </div>
    </div>
    </article><article class="edgtf-match-status-to_be_played">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/take-up-arms/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team3-banner.png" alt="Teuton Sons" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Teuton Sons </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_dark.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team4-banner.png" alt="Eldritch" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Eldritch </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>upcoming matches</span></span> </div>
    <h5 class="edgtf-match-title">
    Take Up Arms </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">26th September 2020, 15:00</span> </div>
    </div>
    <div class="edgtf-match-stream-holder">
    <a href="https://www.twitch.tv/" target="_blank"><i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element" style=""></i><span>watch stream</span></a>
    </div>
    </div>
    </article></div></div></div>
    <div class="edgtf-tab-container" id="tab-latest-results-162"><div class="edgtf-match-list-holder-outer"><div class="edgtf-match-list-holder edgtf-match-skin-dark" data-next-page= 2 data-order-by= menu_order data-order= ASC data-number= 4 data-category= latest-results data-status= finished data-title-tag= h5 data-team-title-tag= h6 data-show-categories= yes data-show-date= yes data-skin= dark data-show-result= yes data-show-load-more= no data-max-num-pages = 1><article class="edgtf-match-status-finished">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/nay-corral-gundown/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team7-banner.png" alt="Hacksaw" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Hacksaw </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_finished.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team1-banner.png" alt="Kaiju Red" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Kaiju Red </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>latest results</span></span> </div>
    <h5 class="edgtf-match-title">
    Nay Corral Gundown </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">4th June 2018, 12:00</span> </div>
    </div>
    <div class="edgtf-match-result-holder">
    <span class="edgtf-match-info-status">10:15</span>
    </div>
    </div>
    </article><article class="edgtf-match-status-finished">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/speaking-with-silence/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team7-banner.png" alt="Hacksaw" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Hacksaw </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_finished.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team2-banner.png" alt="Lionhearts" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Lionhearts </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>latest results</span></span> </div>
    <h5 class="edgtf-match-title">
    Speaking With Silence </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">4th June 2018, 12:00</span> </div>
    </div>
    <div class="edgtf-match-result-holder">
    <span class="edgtf-match-info-status">15:10</span>
    </div>
    </div>
    </article><article class="edgtf-match-status-finished">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/whispers-in-the-dark/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team5-banner.png" alt="Triarchy" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Triarchy </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_finished.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team2-banner.png" alt="Lionhearts" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Lionhearts </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>latest results</span></span> </div>
    <h5 class="edgtf-match-title">
    Whispers In The Dark </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">4th May 2018, 12:00</span> </div>
    </div>
    <div class="edgtf-match-result-holder">
    <span class="edgtf-match-info-status">20:12</span>
    </div>
    </div>
    </article><article class="edgtf-match-status-finished">
    <div class="edgtf-match-item-holder">
    <a class="edgtf-match-link" href="/match-item/the-blessings-of-nature/"></a>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team6-banner.png" alt="Warmongers" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Warmongers </h6>
    </div>
    </div>
    <div class="edgtf-match-vs-image">
    <img src="/images/vs_finished.png" alt="Match vs image" />
    </div>
    <div class="edgtf-match-single-team">
    <div class="edgtf-match-item-image-holder">
    <img src="/images/team4-banner.png" alt="Eldritch" />
    </div>
    <div class="edgtf-match-item-text-holder">
    <h6 class="edgtf-match-team-title">
    Eldritch </h6>
    </div>
    </div>
    <div class="edgtf-match-info">
    <div class="edgtf-match-category">
    <span class="edgtf-match-category-holder"><span>all matches</span><span>latest results</span></span> </div>
    <h5 class="edgtf-match-title">
    The Blessings Of Nature </h5>
    <div class="edgtf-match-date">
    <span class="edgtf-match-date">4th November 2019, 12:00</span> </div>
    </div>
    <div class="edgtf-match-result-holder">
    <span class="edgtf-match-info-status">07:11</span>
    </div>
    </div>
    </article></div></div></div>
    </div>
    </div></div></div></div></div></div><div class="edgtf-row-grid-section-wrapper edgtf-parallax-row-holder edgtf-row-with-shadow edgtf-content-aligment-center" data-parallax-bg-image=/images/h1-parallax-2.jpg data-parallax-bg-speed=1><div class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1530542080210"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-counter-holder ">
    <div class="edgtf-counter-inner">
    <span class="edgtf-counter edgtf-zero-counter">135</span>
    <h6 class="edgtf-counter-title">
    Games Played </h6>
    </div>
    </div><div class="vc_empty_space" style="height: 65px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-counter-holder ">
    <div class="edgtf-counter-inner">
    <span class="edgtf-counter edgtf-zero-counter">89</span>
    <h6 class="edgtf-counter-title">
    Flags Taken </h6>
    </div>
    </div><div class="vc_empty_space" style="height: 65px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-counter-holder ">
    <div class="edgtf-counter-inner">
    <span class="edgtf-counter edgtf-zero-counter">32</span>
    <h6 class="edgtf-counter-title">
    Deathmatches </h6>
    </div>
    </div><div class="vc_empty_space" style="height: 65px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-counter-holder ">
    <div class="edgtf-counter-inner">
    <span class="edgtf-counter edgtf-zero-counter">17</span>
    <h6 class="edgtf-counter-title">
    Tournaments </h6>
    </div>
    </div><div class="vc_empty_space" style="height: 65px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div></div><div class="edgtf-row-grid-section-wrapper " style="background-image: url()"><div class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1530543112680"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-two-columns  edgtf-responsive-mode-1024 edgtf-one-column-alignment-left"><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-4246" data-1367-1600="83px 100px 22px 0" data-1025-1366="58px 100px 0px 0" data-769-1024="133px 0 0 0" data-681-768="133px 0 0 0" data-680="133px 0 0 0">
    <div class="edgtf-eh-item-inner">
    <div class="edgtf-eh-item-content edgtf-eh-custom-4246" style="padding: 92px 100px 31px 0px">
    <div class="edgtf-section-title-holder  edgtf-st-standard " style="padding: 0 0px;text-align: left">
    <div class="edgtf-st-inner">
    <h4 class="edgtf-st-title">
    Contact us </h4>
    <div class="edgtf-st-separator" style="margin-top: 5px">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
         
         <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
         
    </svg> </div>
    <p class="edgtf-st-text" style="margin-top: 26px">
    Proin gravida nibh vel velit auctor aliquet. Aenean velit sollicitudin, lorem quis bibendum auctor, nisi elit ipsum consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 26px"><span class="vc_empty_space_inner"></span></div><div class="edgtf-icon-list-holder ">
    <div class="edgtf-il-icon-holder">
    <i class="edgtf-icon-font-awesome fa fa-location-arrow "></i> </div>
    <a itemprop="url" href="https://www.google.rs/maps/place/Auguststra%C3%9Fe,+10117+Berlin,+Germany/@52.5270663,13.3948265,17z/data=!3m1!4b1!4m5!3m4!1s0x47a851e66db8019f:0xc5f2b9e49b43ca32!8m2!3d52.5270663!4d13.3970152" target="_blank">
    <span class="edgtf-il-text" style="padding-left: 27px">Auguststraße 245, 10117 Berlin</span>
    </a>
    </div><div class="edgtf-icon-list-holder ">
    <div class="edgtf-il-icon-holder">
    <i class="edgtf-icon-font-awesome fa fa-envelope "></i> </div>
    <a itemprop="url" href="/cdn-cgi/l/email-protection#0e2b3c3e676068614e6b766f637e626b206d6163" target="_self">
    <span class="edgtf-il-text" style="padding-left: 27px"><span class="__cf_email__" data-cfemail="cfbfa3aeb6aabdb78faab7aea2bfa3aae1aca0a2">[email&#160;protected]</span></span>
    </a>
    </div> </div>
    </div>
    </div><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-1713" data-1367-1600="141px 0 0 0" data-1025-1366="141px 0 0 0" data-769-1024="45px 0 0 0" data-681-768="45px 0 0 0" data-680="45px 0 0 0">
    <div class="edgtf-eh-item-inner">
    <div class="edgtf-eh-item-content edgtf-eh-custom-1713" style="padding: 141px 0 0 0">
    <div role="form" class="wpcf7" id="wpcf7-f347-p6-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
    <form action="/#wpcf7-f347-p6-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
    <div style="display: none;">
    <input type="hidden" name="_wpcf7" value="347" />
    <input type="hidden" name="_wpcf7_version" value="5.6.2" />
    <input type="hidden" name="_wpcf7_locale" value="en_US" />
    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f347-p6-o1" />
    <input type="hidden" name="_wpcf7_container_post" value="6" />
    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
    </div>
    <div class="edgtf-custom-contact-form">
    <div class="edgtf-grid-row">
    <div class="edgtf-grid-col-12">
    <span class="wpcf7-form-control-wrap" data-name="your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span>
    </div>
    <div class="edgtf-grid-col-12">
    <span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span>
    </div>
    </div>
    <span class="wpcf7-form-control-wrap" data-name="your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message..."></textarea></span>
    <input type="submit" value="submit" class="wpcf7-form-control has-spinner wpcf7-submit" />
    </div>
    
    <div class="wpcf7-response-output" aria-hidden="true"></div>
    </form></div> </div>
    </div>
    </div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1529997028030"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-image-gallery edgtf-grid-list edgtf-grid-masonry-list edgtf-disable-bottom-space  edgtf-ig-masonry-type edgtf-four-columns edgtf-tiny-space  edgtf-image-behavior-zoom">
    <div class="edgtf-ig-inner edgtf-outer-space edgtf-masonry-list-wrapper">
    <div class="edgtf-masonry-grid-sizer"></div>
    <div class="edgtf-masonry-grid-gutter"></div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-small">
    <div class="edgtf-ig-image-inner">
    <img width="480" height="480" src="/images/h1-gallery-img-1.jpg" class="attachment-playerx_edge_image_square size-playerx_edge_image_square" alt="a" loading="lazy" srcset="/images/h1-gallery-img-1.jpg 480w, /images/h1-gallery-img-1-150x150.jpg 150w, /images/h1-gallery-img-1-300x300.jpg 300w, /images/h1-gallery-img-1-100x100.jpg 100w" sizes="(max-width: 480px) 100vw, 480px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-small">
    <div class="edgtf-ig-image-inner">
    <img width="480" height="480" src="/images/h1-gallery-img-2a.jpg" class="attachment-playerx_edge_image_square size-playerx_edge_image_square" alt="a" loading="lazy" srcset="/images/h1-gallery-img-2a.jpg 480w, /images/h1-gallery-img-2a-150x150.jpg 150w, /images/h1-gallery-img-2a-300x300.jpg 300w, /images/h1-gallery-img-2a-100x100.jpg 100w" sizes="(max-width: 480px) 100vw, 480px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-large-width">
    <div class="edgtf-ig-image-inner">
    <img width="960" height="480" src="/images/h1-gallery-img-3.jpg" class="attachment-playerx_edge_image_landscape size-playerx_edge_image_landscape" alt="a" loading="lazy" srcset="/images/h1-gallery-img-3.jpg 960w, /images/h1-gallery-img-3-300x150.jpg 300w, /images/h1-gallery-img-3-768x384.jpg 768w, /images/h1-gallery-img-3-800x400.jpg 800w" sizes="(max-width: 960px) 100vw, 960px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-large-width">
    <div class="edgtf-ig-image-inner">
    <img width="960" height="480" src="/images/h1-gallery-img-4.jpg" class="attachment-playerx_edge_image_landscape size-playerx_edge_image_landscape" alt="a" loading="lazy" srcset="/images/h1-gallery-img-4.jpg 960w, /images/h1-gallery-img-4-300x150.jpg 300w, /images/h1-gallery-img-4-768x384.jpg 768w, /images/h1-gallery-img-4-800x400.jpg 800w" sizes="(max-width: 960px) 100vw, 960px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-small">
    <div class="edgtf-ig-image-inner">
    <img width="480" height="480" src="/images/h1-gallery-img-5.jpg" class="attachment-playerx_edge_image_square size-playerx_edge_image_square" alt="a" loading="lazy" srcset="/images/h1-gallery-img-5.jpg 480w, /images/h1-gallery-img-5-150x150.jpg 150w, /images/h1-gallery-img-5-300x300.jpg 300w, /images/h1-gallery-img-5-100x100.jpg 100w" sizes="(max-width: 480px) 100vw, 480px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-small">
    <div class="edgtf-ig-image-inner">
    <img width="480" height="480" src="/images/h1-gallery-img-6.jpg" class="attachment-playerx_edge_image_square size-playerx_edge_image_square" alt="a" loading="lazy" srcset="/images/h1-gallery-img-6.jpg 480w, /images/h1-gallery-img-6-150x150.jpg 150w, /images/h1-gallery-img-6-300x300.jpg 300w, /images/h1-gallery-img-6-100x100.jpg 100w" sizes="(max-width: 480px) 100vw, 480px" /> </div>
    </div>
    </div>
    </div></div></div></div></div><div class="edgtf-row-grid-section-wrapper edgtf-content-aligment-center"><div class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1530543135289"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-section-title-holder  edgtf-st-standard " style="text-align: center">
    <div class="edgtf-st-inner">
    <h3 class="edgtf-st-title">
    EXPLORE OUR MERCH </h3>
    <div class="edgtf-st-separator">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
         
         <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
         
    </svg> </div>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 98px"><span class="vc_empty_space_inner"></span></div>
    <div class="edgtf-pl-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-standard-layout edgtf-four-columns edgtf-normal-space edgtf-info-below-image ">
    <div class="edgtf-pl-outer edgtf-outer-space">
    <div class="edgtf-pli edgtf-item-space ">
    <div class="edgtf-pli-inner">
    <div class="edgtf-pli-image">
    <span class="edgtf-pli-onsale">Sale</span>
    <img width="800" height="800" src="/images/shop-1-img-1-800x800.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="a" loading="lazy" srcset="/images/shop-1-img-1.jpg 800w, /images/shop-1-img-1-150x150.jpg 150w, /images/shop-1-img-1-300x300.jpg 300w, /images/shop-1-img-1-768x768.jpg 768w, /images/shop-1-img-1-550x550.jpg 550w, /images/shop-1-img-1-100x100.jpg 100w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
    <div class="edgtf-pli-text">
    <div class="edgtf-pli-text-outer">
    <div class="edgtf-pli-text-inner">
    <div class="edgtf-pli-add-to-cart edgtf-default-skin">
    <a rel="nofollow" href="?add-to-cart=218" data-quantity="1" data-product_id="218" data-product_sku="005" class="button add_to_cart_button ajax_add_to_cart edgtf-button">Add to cart</a> </div>
    </div>
    </div>
    </div>
    <a class="edgtf-pli-link" itemprop="url" href="/product/t-shirt/" title="T-Shirt"></a>
    </div>
    <div class="edgtf-pli-text-wrapper" style="text-align: left;margin-bottom: 10px">
    <h5 itemprop="name" class="entry-title edgtf-pli-title">
    <a itemprop="url" href="/product/t-shirt/">T-Shirt</a>
    </h5>
    <div class="edgtf-pli-price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>50</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>35</span></ins></div>
    <p class="edgtf-pli-category"><a href="/product-category/equipment/" rel="tag">Equipment</a></p>
    </div>
    </div><div class="edgtf-pli edgtf-item-space ">
    <div class="edgtf-pli-inner">
    <div class="edgtf-pli-image">
    <img width="800" height="800" src="/images/shop-1-img-8-800x800.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="a" loading="lazy" srcset="/images/shop-1-img-8.jpg 800w, /images/shop-1-img-8-150x150.jpg 150w, /images/shop-1-img-8-300x300.jpg 300w, /images/shop-1-img-8-768x768.jpg 768w, /images/shop-1-img-8-550x550.jpg 550w, /images/shop-1-img-8-100x100.jpg 100w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
    <div class="edgtf-pli-text">
    <div class="edgtf-pli-text-outer">
    <div class="edgtf-pli-text-inner">
    <div class="edgtf-pli-add-to-cart edgtf-default-skin">
    <a rel="nofollow" href="?add-to-cart=305" data-quantity="1" data-product_id="305" data-product_sku="012" class="button add_to_cart_button ajax_add_to_cart edgtf-button">Add to cart</a> </div>
    </div>
    </div>
    </div>
    <a class="edgtf-pli-link" itemprop="url" href="/product/rogm4528/" title="ROGM4528"></a>
    </div>
    <div class="edgtf-pli-text-wrapper" style="text-align: left;margin-bottom: 10px">
    <h5 itemprop="name" class="entry-title edgtf-pli-title">
    <a itemprop="url" href="/product/rogm4528/">ROGM4528</a>
    </h5>
    <div class="edgtf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>15</span></div>
    <p class="edgtf-pli-category"><a href="/product-category/equipment/" rel="tag">Equipment</a></p>
    </div>
    </div><div class="edgtf-pli edgtf-item-space ">
    <div class="edgtf-pli-inner">
    <div class="edgtf-pli-image">
    <img width="800" height="800" src="/images/shop-1-img-5-800x800.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="a" loading="lazy" srcset="/images/shop-1-img-5.jpg 800w, /images/shop-1-img-5-150x150.jpg 150w, /images/shop-1-img-5-300x300.jpg 300w, /images/shop-1-img-5-768x768.jpg 768w, /images/shop-1-img-5-550x550.jpg 550w, /images/shop-1-img-5-100x100.jpg 100w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
    <div class="edgtf-pli-text">
    <div class="edgtf-pli-text-outer">
    <div class="edgtf-pli-text-inner">
    <div class="edgtf-pli-add-to-cart edgtf-default-skin">
    <a rel="nofollow" href="?add-to-cart=321" data-quantity="1" data-product_id="321" data-product_sku="013" class="button add_to_cart_button ajax_add_to_cart edgtf-button">Add to cart</a> </div>
    </div>
    </div>
    </div>
    <a class="edgtf-pli-link" itemprop="url" href="/product/revenant/" title="Revenant"></a>
    </div>
    <div class="edgtf-pli-text-wrapper" style="text-align: left;margin-bottom: 10px">
    <h5 itemprop="name" class="entry-title edgtf-pli-title">
    <a itemprop="url" href="/product/revenant/">Revenant</a>
    </h5>
    <div class="edgtf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>37</span></div>
    <p class="edgtf-pli-category"><a href="/product-category/equipment/" rel="tag">Equipment</a></p>
    </div>
    </div><div class="edgtf-pli edgtf-item-space ">
    <div class="edgtf-pli-inner">
    <div class="edgtf-pli-image">
    <img width="800" height="800" src="/images/shop-1-img-6-800x800.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="a" loading="lazy" srcset="/images/shop-1-img-6.jpg 800w, /images/shop-1-img-6-150x150.jpg 150w, /images/shop-1-img-6-300x300.jpg 300w, /images/shop-1-img-6-768x768.jpg 768w, /images/shop-1-img-6-550x550.jpg 550w, /images/shop-1-img-6-100x100.jpg 100w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
    <div class="edgtf-pli-text">
    <div class="edgtf-pli-text-outer">
    <div class="edgtf-pli-text-inner">
    <div class="edgtf-pli-add-to-cart edgtf-default-skin">
    <a rel="nofollow" href="?add-to-cart=346" data-quantity="1" data-product_id="346" data-product_sku="016" class="button add_to_cart_button ajax_add_to_cart edgtf-button">Add to cart</a> </div>
    </div>
    </div>
    </div>
    <a class="edgtf-pli-link" itemprop="url" href="/product/chromacore/" title="Chromacore"></a>
    </div>
    <div class="edgtf-pli-text-wrapper" style="text-align: left;margin-bottom: 10px">
    <h5 itemprop="name" class="entry-title edgtf-pli-title">
    <a itemprop="url" href="/product/chromacore/">Chromacore</a>
    </h5>
    <div class="edgtf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>800</span></div>
    <p class="edgtf-pli-category"><a href="/product-category/equipment/" rel="tag">Equipment</a></p>
    </div>
    </div> </div>
    </div>
    </div></div></div></div></div></div>
    </div>
    </div>
    </div>
    </div>