<style type="text/css" id="wp-custom-css">
    @media only screen and (max-width: 1400px) {
.edgtf-main-menu>ul>li>a {
padding:0 25px !important;
}
}

@media only screen and (max-width: 1300px) {
.edgtf-main-menu>ul>li>a {
padding:0 20px !important;
}
}

@media only screen and (max-width: 1200px) {
.edgtf-main-menu>ul>li>a {
padding:0 15px !important;
}
.edgtf-header-divided .edgtf-page-header .edgtf-vertical-align-containers .edgtf-position-left .edgtf-position-left-inner,
.edgtf-header-divided .edgtf-page-header .edgtf-vertical-align-containers .edgtf-position-right .edgtf-position-right-inner {
padding: 0 10px !important;
}
}

@media only screen and (max-width: 1100px) {
.edgtf-header-divided .edgtf-page-header .edgtf-vertical-align-containers .edgtf-position-left .edgtf-position-left-inner .edgtf-divided-left-inner-top-widget-area {
padding:0 !important;
}
}

::-webkit-scrollbar-track {
background-color: #fff;
}

::-webkit-scrollbar {
background-color: #fff;
}		
</style>
<style type="text/css" data-type="vc_shortcodes-custom-css">
.vc_custom_1530543022555{padding-top: 133px !important;padding-bottom: 133px !important;}
.vc_custom_1530543071906{padding-top: 131px !important;padding-bottom: 141px !important;}
.vc_custom_1529567793848{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}
.vc_custom_1530543083826{padding-top: 132px !important;padding-bottom: 140px !important;}
.vc_custom_1530542080210{padding-top: 230px !important;padding-bottom: 170px !important;}
.vc_custom_1530543112680{padding-bottom: 114px !important;}
.vc_custom_1529997028030{padding-right: 10px !important;padding-bottom: 10px !important;padding-left: 10px !important;}
.vc_custom_1530543135289{padding-top: 122px !important;padding-bottom: 111px !important;}
.vc_custom_1529910901070{margin-top: -140px !important;}
.vc_custom_1528296369765{margin-top: -6.5% !important;padding-left: 7.7% !important;}
</style>

<noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
