<div class="edgtf-row-grid-section-wrapper edgtf-content-aligment-center">
    <div class="edgtf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1530543135289">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-section-title-holder  edgtf-st-standard " style="text-align: center">
    <div class="edgtf-st-inner">
    <h3 class="edgtf-st-title">
    EXPLORE OUR MERCH </h3>
    <div class="edgtf-st-separator">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
    <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
    </svg> </div>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 98px"><span class="vc_empty_space_inner"></span></div>
    <div class="edgtf-pl-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-standard-layout edgtf-four-columns edgtf-normal-space edgtf-info-below-image ">
    <div class="edgtf-pl-outer edgtf-outer-space">
    <div class="edgtf-pli edgtf-item-space ">
    <div class="edgtf-pli-inner">
    <div class="edgtf-pli-image">
    <span class="edgtf-pli-onsale">Sale</span>
    <img width="800" height="800" src="/images/shop-1-img-1-800x800.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="a" loading="lazy" srcset="/images/shop-1-img-1.jpg 800w, /images/shop-1-img-1-150x150.jpg 150w, /images/shop-1-img-1-300x300.jpg 300w, /images/shop-1-img-1-768x768.jpg 768w, /images/shop-1-img-1-550x550.jpg 550w, /images/shop-1-img-1-100x100.jpg 100w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
    <div class="edgtf-pli-text">
    <div class="edgtf-pli-text-outer">
    <div class="edgtf-pli-text-inner">
    <div class="edgtf-pli-add-to-cart edgtf-default-skin">
    <a rel="nofollow" href="?add-to-cart=218" data-quantity="1" data-product_id="218" data-product_sku="005" class="button add_to_cart_button ajax_add_to_cart edgtf-button">Add to cart</a> </div>
    </div>
    </div>
    </div>
    <a class="edgtf-pli-link" itemprop="url" href="/product/t-shirt/" title="T-Shirt"></a>
    </div>
    <div class="edgtf-pli-text-wrapper" style="text-align: left;margin-bottom: 10px">
    <h5 itemprop="name" class="entry-title edgtf-pli-title">
    <a itemprop="url" href="/product/t-shirt/">T-Shirt</a>
    </h5>
    <div class="edgtf-pli-price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>50</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>35</span></ins></div>
    <p class="edgtf-pli-category"><a href="/product-category/equipment/" rel="tag">Equipment</a></p>
    </div>
    </div><div class="edgtf-pli edgtf-item-space ">
    <div class="edgtf-pli-inner">
    <div class="edgtf-pli-image">
    <img width="800" height="800" src="/images/shop-1-img-8-800x800.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="a" loading="lazy" srcset="/images/shop-1-img-8.jpg 800w, /images/shop-1-img-8-150x150.jpg 150w, /images/shop-1-img-8-300x300.jpg 300w, /images/shop-1-img-8-768x768.jpg 768w, /images/shop-1-img-8-550x550.jpg 550w, /images/shop-1-img-8-100x100.jpg 100w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
    <div class="edgtf-pli-text">
    <div class="edgtf-pli-text-outer">
    <div class="edgtf-pli-text-inner">
    <div class="edgtf-pli-add-to-cart edgtf-default-skin">
    <a rel="nofollow" href="?add-to-cart=305" data-quantity="1" data-product_id="305" data-product_sku="012" class="button add_to_cart_button ajax_add_to_cart edgtf-button">Add to cart</a> </div>
    </div>
    </div>
    </div>
    <a class="edgtf-pli-link" itemprop="url" href="/product/rogm4528/" title="ROGM4528"></a>
    </div>
    <div class="edgtf-pli-text-wrapper" style="text-align: left;margin-bottom: 10px">
    <h5 itemprop="name" class="entry-title edgtf-pli-title">
    <a itemprop="url" href="/product/rogm4528/">ROGM4528</a>
    </h5>
    <div class="edgtf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>15</span></div>
    <p class="edgtf-pli-category"><a href="/product-category/equipment/" rel="tag">Equipment</a></p>
    </div>
    </div><div class="edgtf-pli edgtf-item-space ">
    <div class="edgtf-pli-inner">
    <div class="edgtf-pli-image">
    <img width="800" height="800" src="/images/shop-1-img-5-800x800.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="a" loading="lazy" srcset="/images/shop-1-img-5.jpg 800w, /images/shop-1-img-5-150x150.jpg 150w, /images/shop-1-img-5-300x300.jpg 300w, /images/shop-1-img-5-768x768.jpg 768w, /images/shop-1-img-5-550x550.jpg 550w, /images/shop-1-img-5-100x100.jpg 100w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
    <div class="edgtf-pli-text">
    <div class="edgtf-pli-text-outer">
    <div class="edgtf-pli-text-inner">
    <div class="edgtf-pli-add-to-cart edgtf-default-skin">
    <a rel="nofollow" href="?add-to-cart=321" data-quantity="1" data-product_id="321" data-product_sku="013" class="button add_to_cart_button ajax_add_to_cart edgtf-button">Add to cart</a> </div>
    </div>
    </div>
    </div>
    <a class="edgtf-pli-link" itemprop="url" href="/product/revenant/" title="Revenant"></a>
    </div>
    <div class="edgtf-pli-text-wrapper" style="text-align: left;margin-bottom: 10px">
    <h5 itemprop="name" class="entry-title edgtf-pli-title">
    <a itemprop="url" href="/product/revenant/">Revenant</a>
    </h5>
    <div class="edgtf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>37</span></div>
    <p class="edgtf-pli-category"><a href="/product-category/equipment/" rel="tag">Equipment</a></p>
    </div>
    </div><div class="edgtf-pli edgtf-item-space ">
    <div class="edgtf-pli-inner">
    <div class="edgtf-pli-image">
    <img width="800" height="800" src="/images/shop-1-img-6-800x800.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="a" loading="lazy" srcset="/images/shop-1-img-6.jpg 800w, /images/shop-1-img-6-150x150.jpg 150w, /images/shop-1-img-6-300x300.jpg 300w, /images/shop-1-img-6-768x768.jpg 768w, /images/shop-1-img-6-550x550.jpg 550w, /images/shop-1-img-6-100x100.jpg 100w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
    <div class="edgtf-pli-text">
    <div class="edgtf-pli-text-outer">
    <div class="edgtf-pli-text-inner">
    <div class="edgtf-pli-add-to-cart edgtf-default-skin">
    <a rel="nofollow" href="?add-to-cart=346" data-quantity="1" data-product_id="346" data-product_sku="016" class="button add_to_cart_button ajax_add_to_cart edgtf-button">Add to cart</a> </div>
    </div>
    </div>
    </div>
    <a class="edgtf-pli-link" itemprop="url" href="/product/chromacore/" title="Chromacore"></a>
    </div>
    <div class="edgtf-pli-text-wrapper" style="text-align: left;margin-bottom: 10px">
    <h5 itemprop="name" class="entry-title edgtf-pli-title">
    <a itemprop="url" href="/product/chromacore/">Chromacore</a>
    </h5>
    <div class="edgtf-pli-price">
    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>800</span>
    </div>
    <p class="edgtf-pli-category"><a href="/product-category/equipment/" rel="tag">Equipment</a></p>
    </div>
    </div> 
    </div>
    </div>
    </div>
    </div></div></div></div></div>
    