<link rel='dns-prefetch' href='//export.qodethemes.com' />
<link rel='dns-prefetch' href='//maps.googleapis.com' />
<link rel='dns-prefetch' href='//static.zdassets.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="icon" href="/images/cropped-favicon-100x100.png" sizes="32x32" />
<link rel="icon" href="/images/cropped-favicon-300x300.png" sizes="192x192" />
<link rel="apple-touch-icon" href="/images/cropped-favicon-300x300.png" />
<link rel="alternate" type="application/rss+xml" title="PlayerX &raquo; Feed" href="/feed/" />
<link rel="alternate" type="application/rss+xml" title="PlayerX &raquo; Comments Feed" href="/comments/feed/" />
