<header class="edgtf-mobile-header">
    <div class="edgtf-mobile-header-inner">
    <div class="edgtf-mobile-header-holder">
    <div class="edgtf-grid">
    <div class="edgtf-vertical-align-containers">
    <div class="edgtf-vertical-align-containers">
    <div class="edgtf-mobile-menu-opener edgtf-mobile-menu-opener-svg-path">
    <a href="javascript:void(0)">
    <span class="edgtf-mobile-menu-icon">
    <svg version="1.1" class="edgtf-mobile-opener-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.922px" height="23.916px" viewBox="0 0 23.922 23.916" enable-background="new 0 0 23.922 23.916" xml:space="preserve">
    <rect x="2.604" y="14.698" transform="matrix(0.7071 0.7071 -0.7071 0.7071 14.9741 2.3277)" fill="#ffffff" width="4.146" height="9.083" />
    <rect x="17.166" y="0.135" transform="matrix(0.7072 0.707 -0.707 0.7072 8.9391 -12.2324)" fill="#ffffff" width="4.145" height="9.083" />
    <rect x="2.61" y="0.141" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 11.3045 4.6818)" fill="#ffffff" width="4.145" height="9.083" />
    <rect x="17.172" y="14.703" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 46.4606 19.2446)" fill="#ffffff" width="4.146" height="9.083" />
    </svg> </span>
    </a>
    </div>
    <div class="edgtf-position-center"><div class="edgtf-position-center-inner">
    <div class="edgtf-mobile-logo-wrapper">
    <a itemprop="url" href="/" style="height: 42px">
    <img itemprop="image" src="/images/logo-header.png" width="85" height="84" alt="Mobile Logo" />
    </a>
    </div>
    </div>
    </div>
    <div class="edgtf-position-right"><div class="edgtf-position-right-inner">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    {% include mobnav.html %}
    </div>
    </header>