<nav class="edgtf-mobile-nav" role="navigation" aria-label="Mobile Menu">
    <div class="edgtf-grid">
    <ul id="menu-main-menu-navigation-1" class=""><li id="mobile-menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom {% if page.cat == "home" %}current-menu-ancestor current-menu-parent menu-item-has-children edgtf-active-item {% endif %}has_sub"><a href="#" class=" {% if page.cat == "home" %} current {% endif %}edgtf-mobile-no-link"><span>Home</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home "><a href="/" class=""><span>Main Home</span></a></li>
    <li id="mobile-menu-item-463" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/development-studio/" class=""><span>Development Studio</span></a></li>
    <li id="mobile-menu-item-1905" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio-carousel/" class=""><span>Portfolio Carousel</span></a></li>
    <li id="mobile-menu-item-727" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/esports-home/" class=""><span>eSports Home</span></a></li>
    <li id="mobile-menu-item-728" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/parallax-home/" class=""><span>Parallax Home</span></a></li>
    <li id="mobile-menu-item-1015" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.catname == "vcard" %}current-menu-item page_item page-item-825 current_page_item{% endif %} "><a href="/vcard/" class=""><span>vCard</span></a></li>
    <li id="mobile-menu-item-1014" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/coming-soon/" class=""><span>Coming Soon</span></a></li>
    <li id="mobile-menu-item-2476" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.catname == "landing" %}current-menu-item page_item page-item-825 current_page_item{% endif %} "><a href="/landing/" class=""><span>Landing</span></a></li>
    </ul>
    </li>
    <li id="mobile-menu-item-36" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children {% if page.cat == "pages" %}current-menu-ancestor current-menu-parent menu-item-has-children edgtf-active-item {% endif %}has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Pages</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-2797" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/about-the-clan/" class=""><span>About The Clan</span></a></li>
    <li id="mobile-menu-item-1176" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/about-me/" class=""><span>About Me</span></a></li>
    <li id="mobile-menu-item-1393" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/our-squad/" class=""><span>Our Squad</span></a></li>
    <li id="mobile-menu-item-2745" class="menu-item menu-item-type-post_type menu-item-object-match-item  {% if page.catname == "match" %}current-menu-item page_item page-item-825 current_page_item{% endif %}"><a href="/match-item/nay-corral-gundown/" class=""><span>Match Single</span></a></li>
    <li id="mobile-menu-item-1321" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/faq-page/" class=""><span>FAQ Page</span></a></li>
    <li id="mobile-menu-item-1178" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/contact-us/" class=""><span>Contact Us</span></a></li>
    </ul>
    </li>
    <li id="mobile-menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Portfolio</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1749" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/standard/" class=""><span>Standard</span></a></li>
    <li id="mobile-menu-item-1747" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/gallery/" class=""><span>Gallery</span></a></li>
    <li id="mobile-menu-item-1746" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/masonry/" class=""><span>Masonry</span></a></li>
    <li id="mobile-menu-item-1752" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Layouts</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1759" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/two-columns/" class=""><span>Two Columns</span></a></li>
    <li id="mobile-menu-item-1758" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/three-columns/" class=""><span>Three Columns</span></a></li>
    <li id="mobile-menu-item-1757" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/three-columns-wide/" class=""><span>Three Columns Wide</span></a></li>
    <li id="mobile-menu-item-1755" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/four-columns/" class=""><span>Four Columns</span></a></li>
    <li id="mobile-menu-item-1756" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/four-columns-wide/" class=""><span>Four Columns Wide</span></a></li>
    <li id="mobile-menu-item-1754" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/portfolio/five-columns-wide/" class=""><span>Five Columns Wide</span></a></li>
    </ul>
    </li>
    <li id="mobile-menu-item-1760" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Single</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1765" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item "><a href="/portfolio-item/falls-barrow/" class=""><span>Small Images</span></a></li>
    <li id="mobile-menu-item-1763" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item "><a href="/portfolio-item/the-dark-blade/" class=""><span>Small Slider</span></a></li>
    <li id="mobile-menu-item-1766" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item "><a href="/portfolio-item/before-the-storm/" class=""><span>Big Images</span></a></li>
    <li id="mobile-menu-item-1764" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item "><a href="/portfolio-item/dragon-rising/" class=""><span>Big Slider</span></a></li>
    <li id="mobile-menu-item-1761" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item "><a href="/portfolio-item/the-eye-of-magnus/" class=""><span>Small Gallery</span></a></li>
    <li id="mobile-menu-item-1762" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item "><a href="/portfolio-item/moon-eclipse/" class=""><span>Big Gallery</span></a></li>
    </ul>
    </li>
    </ul>
    </li>
    <li id="mobile-menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Blog</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/blog/right-sidebar/" class=""><span>Right Sidebar</span></a></li>
    <li id="mobile-menu-item-1669" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/blog/left-sidebar/" class=""><span>Left Sidebar</span></a></li>
    <li id="mobile-menu-item-2763" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/blog/no-sidebar/" class=""><span>No Sidebar</span></a></li>
    <li id="mobile-menu-item-130" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Post Types</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/white-keep-assault/" class=""><span>Standard</span></a></li>
    <li id="mobile-menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/dota-2-tournament/" class=""><span>Gallery</span></a></li>
    <li id="mobile-menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/black-angels/" class=""><span>Link</span></a></li>
    <li id="mobile-menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/heros-journey/" class=""><span>Quote</span></a></li>
    <li id="mobile-menu-item-142" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/a-time-travel-tale/" class=""><span>Video</span></a></li>
    <li id="mobile-menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/winners-on-esl-pro/" class=""><span>Audio</span></a></li>
    </ul>
    </li>
    </ul>
    </li>
    <li id="mobile-menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Shop</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/product-list/" class=""><span>Product List</span></a></li>
    <li id="mobile-menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/product/dangerzone/" class=""><span>Product Single</span></a></li>
    <li id="mobile-menu-item-1519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Shop Layouts</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1520" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/product-list/three-columns/" class=""><span>Three Columns</span></a></li>
    <li id="mobile-menu-item-1522" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/product-list/four-columns/" class=""><span>Four Columns</span></a></li>
    <li id="mobile-menu-item-1521" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/product-list/full-width/" class=""><span>Full Width</span></a></li>
    </ul>
    </li>
    <li id="mobile-menu-item-1589" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Shop Pages</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1587" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/my-account/" class=""><span>My Account</span></a></li>
    <li id="mobile-menu-item-1588" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/cart/" class=""><span>Cart</span></a></li>
    <li id="mobile-menu-item-1586" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/checkout/" class=""><span>Checkout</span></a></li>
    </ul>
    </li>
    </ul>
    </li>
    <li id="mobile-menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>Elements</span></a><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1629" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><h6><span>Classic</span></h6><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1630" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/accordions/" class=""><span>Accordions</span></a></li>
    <li id="mobile-menu-item-1634" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/tabs/" class=""><span>Tabs</span></a></li>
    <li id="mobile-menu-item-1981" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/clients/" class=""><span>Clients</span></a></li>
    <li id="mobile-menu-item-1631" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/buttons/" class=""><span>Buttons</span></a></li>
    <li id="mobile-menu-item-1633" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/icon-with-text/" class=""><span>Icon With Text</span></a></li>
    <li id="mobile-menu-item-1639" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/google-maps/" class=""><span>Google Maps</span></a></li>
    <li id="mobile-menu-item-1632" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/contact-form/" class=""><span>Contact Form</span></a></li>
    </ul>
    </li>
    <li id="mobile-menu-item-1635" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><h6><span>Infographic</span></h6><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1641" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/progress-bar/" class=""><span>Progress Bar</span></a></li>
    <li id="mobile-menu-item-1638" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/counters/" class=""><span>Counters</span></a></li>
    <li id="mobile-menu-item-1637" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/countdown/" class=""><span>Countdown</span></a></li>
    <li id="mobile-menu-item-1640" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/pie-chart/" class=""><span>Pie Chart</span></a></li>
    <li id="mobile-menu-item-1643" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/image-gallery/" class=""><span>Image Gallery</span></a></li>
    <li id="mobile-menu-item-2202" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/blog-list/" class=""><span>Blog List</span></a></li>
    <li id="mobile-menu-item-2201" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/shop-list/" class=""><span>Shop List</span></a></li>
    </ul>
    </li>
    <li id="mobile-menu-item-1642" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><h6><span>Presentation</span></h6><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1644" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/team/" class=""><span>Team</span></a></li>
    <li id="mobile-menu-item-1645" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/testimonials/" class=""><span>Testimonials</span></a></li>
    <li id="mobile-menu-item-1984" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/parallax-section/" class=""><span>Parallax Section</span></a></li>
    <li id="mobile-menu-item-1983" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/match-list/" class=""><span>Match List</span></a></li>
    <li id="mobile-menu-item-1982" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/stream-box/" class=""><span>Stream Box</span></a></li>
    <li id="mobile-menu-item-1646" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/video-button/" class=""><span>Video Button</span></a></li>
    <li id="mobile-menu-item-2200" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/portfolio-list/" class=""><span>Portfolio List</span></a></li>
    </ul>
    </li>
    <li id="mobile-menu-item-1648" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><h6><span>Typography</span></h6><span class="mobile_arrow"><i class="edgtf-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
    <ul class="sub_menu">
    <li id="mobile-menu-item-1652" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/headings/" class=""><span>Headings</span></a></li>
    <li id="mobile-menu-item-1650" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/columns/" class=""><span>Columns</span></a></li>
    <li id="mobile-menu-item-2124" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/section-title/" class=""><span>Section Title</span></a></li>
    <li id="mobile-menu-item-1649" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/blockquote/" class=""><span>Blockquote</span></a></li>
    <li id="mobile-menu-item-1655" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/dropcaps-highlights/" class=""><span>Dropcaps &#038; Highlights</span></a></li>
    <li id="mobile-menu-item-1654" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/separators/" class=""><span>Separators</span></a></li>
    <li id="mobile-menu-item-1651" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/elements/custom-fonts/" class=""><span>Custom Fonts</span></a></li>
    </ul>
    </li>
    </ul>
    </li>
    </ul> </div>
    </nav>