
<div class="vc_row wpb_row vc_row-fluid vc_custom_1529997028030">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-image-gallery edgtf-grid-list edgtf-grid-masonry-list edgtf-disable-bottom-space  edgtf-ig-masonry-type edgtf-four-columns edgtf-tiny-space  edgtf-image-behavior-zoom">
    
    <div class="edgtf-ig-inner edgtf-outer-space edgtf-masonry-list-wrapper">
    <div class="edgtf-masonry-grid-sizer"></div>
    <div class="edgtf-masonry-grid-gutter"></div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-small">
    <div class="edgtf-ig-image-inner">
    <img width="480" height="480" src="/images/h1-gallery-img-1.jpg" class="attachment-playerx_edge_image_square size-playerx_edge_image_square" alt="a" loading="lazy" srcset="/images/h1-gallery-img-1.jpg 480w, /images/h1-gallery-img-1-150x150.jpg 150w, /images/h1-gallery-img-1-300x300.jpg 300w, /images/h1-gallery-img-1-100x100.jpg 100w" sizes="(max-width: 480px) 100vw, 480px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-small">
    <div class="edgtf-ig-image-inner">
    <img width="480" height="480" src="/images/h1-gallery-img-2a.jpg" class="attachment-playerx_edge_image_square size-playerx_edge_image_square" alt="a" loading="lazy" srcset="/images/h1-gallery-img-2a.jpg 480w, /images/h1-gallery-img-2a-150x150.jpg 150w, /images/h1-gallery-img-2a-300x300.jpg 300w, /images/h1-gallery-img-2a-100x100.jpg 100w" sizes="(max-width: 480px) 100vw, 480px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-large-width">
    <div class="edgtf-ig-image-inner">
    <img width="960" height="480" src="/images/h1-gallery-img-3.jpg" class="attachment-playerx_edge_image_landscape size-playerx_edge_image_landscape" alt="a" loading="lazy" srcset="/images/h1-gallery-img-3.jpg 960w, /images/h1-gallery-img-3-300x150.jpg 300w, /images/h1-gallery-img-3-768x384.jpg 768w, /images/h1-gallery-img-3-800x400.jpg 800w" sizes="(max-width: 960px) 100vw, 960px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-large-width">
    <div class="edgtf-ig-image-inner">
    <img width="960" height="480" src="/images/h1-gallery-img-4.jpg" class="attachment-playerx_edge_image_landscape size-playerx_edge_image_landscape" alt="a" loading="lazy" srcset="/images/h1-gallery-img-4.jpg 960w, /images/h1-gallery-img-4-300x150.jpg 300w, /images/h1-gallery-img-4-768x384.jpg 768w, /images/h1-gallery-img-4-800x400.jpg 800w" sizes="(max-width: 960px) 100vw, 960px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-small">
    <div class="edgtf-ig-image-inner">
    <img width="480" height="480" src="/images/h1-gallery-img-5.jpg" class="attachment-playerx_edge_image_square size-playerx_edge_image_square" alt="a" loading="lazy" srcset="/images/h1-gallery-img-5.jpg 480w, /images/h1-gallery-img-5-150x150.jpg 150w, /images/h1-gallery-img-5-300x300.jpg 300w, /images/h1-gallery-img-5-100x100.jpg 100w" sizes="(max-width: 480px) 100vw, 480px" /> </div>
    </div>
    <div class="edgtf-ig-image edgtf-item-space edgtf-fixed-masonry-item edgtf-masonry-size-small">
    <div class="edgtf-ig-image-inner">
    <img width="480" height="480" src="/images/h1-gallery-img-6.jpg" class="attachment-playerx_edge_image_square size-playerx_edge_image_square" alt="a" loading="lazy" srcset="/images/h1-gallery-img-6.jpg 480w, /images/h1-gallery-img-6-150x150.jpg 150w, /images/h1-gallery-img-6-300x300.jpg 300w, /images/h1-gallery-img-6-100x100.jpg 100w" sizes="(max-width: 480px) 100vw, 480px" /> </div>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    