<div class="vc_row wpb_row vc_row-fluid edgtf-row-with-shadow edgtf-content-aligment-center">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner vc_custom_1529910901070">
    <div class="wpb_wrapper">
    <div class="edgtf-row-grid-section-wrapper " style="background-image: url(/images/p3-background-img-1.jpg)">
    <div class="edgtf-row-grid-section">
    <div class="vc_row wpb_row vc_inner vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 ">
    <div class="edgtf-eh-item  edgtf-vertical-alignment-top edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-8415">
    <div class="edgtf-eh-item-inner">
    <div class="edgtf-eh-item-content edgtf-eh-custom-8415" style="padding: 15px 0 20px">
    <div class="edgtf-clients-carousel-holder edgtf-cc-hover-roll-over">
    <div class="edgtf-cc-inner edgtf-owl-slider" data-number-of-items="6" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="no" data-enable-pagination="no">
    
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-1.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-1.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-2.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-2.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-3.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-3.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-4.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-4.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-5.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-5.png" alt="a" />
    </a>
    </div>
    
    <div class="edgtf-cc-item edgtf-item-space edgtf-cci-has-link">
    <a itemprop="url" class="edgtf-cc-link edgtf-block-drag-link" href="#" target="_self">
    <img itemprop="image" class="edgtf-cc-image" src="/images/h1-client-img-6.png" alt="a" />
    <img itemprop="image" class="edgtf-cc-hover-image" src="/images/h1-client-img-6.png" alt="a" />
    </a>
    </div> 
    
    </div>
    </div> </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>