<div class="edgtf-row-grid-section-wrapper edgtf-content-aligment-center">
    <div class="edgtf-row-grid-section">
    
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1530543022555 vc_row-o-content-middle vc_row-flex">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-section-title-holder  edgtf-st-standard ">
    <div class="edgtf-st-inner">
    <h3 class="edgtf-st-title">
    AN <span class="edgtf-st-title-hightlight">OP</span> THEME JUST FOR GAMERS </h3>
    <div class="edgtf-st-separator">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
    <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
    </svg> </div>
    <p class="edgtf-st-text">
    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non. </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>