<div class="edgtf-row-grid-section-wrapper ">
    <div class="edgtf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1530543071906">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-section-title-holder  edgtf-st-standard " style="text-align: center">
    <div class="edgtf-st-inner">
    <h3 class="edgtf-st-title">
    Watch Live Streams </h3>
    <div class="edgtf-st-separator">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
    <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
    </svg> </div>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 88px"><span class="vc_empty_space_inner"></span></div>
    <div class="edgtf-tabs tabs-without-padding edgtf-tabs-standard ">
    <ul class="edgtf-tabs-nav clearfix">
    <li>
    <a href="#tab-twitch">Twitch</a>
    </li>
    <li>
    <a href="#tab-youtube">Youtube</a>
    </li>
    <li>
    <a href="#tab-mixer">Mixer</a>
    </li>
    </ul>
    <div class="edgtf-tab-container" id="tab-twitch-77"><div class="edgtf-stream-box-holder  edgtf-sb-standard">
    <div class="edgtf-sb-main-stream-item">
    <div class="edgtf-sb-main-stream-holder">
    <a class="edgtf-sb-link" href="https://www.twitch.tv/" target="_blank"></a>
    <div class="edgtf-sb-main-image">
    <img width="1245" height="700" src="/images/h1-streambox-v2-img-1.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-1.jpg 1245w, /images/h1-streambox-v2-img-1-300x169.jpg 300w, /images/h1-streambox-v2-img-1-768x432.jpg 768w, /images/h1-streambox-v2-img-1-1024x576.jpg 1024w, /images/h1-streambox-v2-img-1-800x450.jpg 800w" sizes="(max-width: 1245px) 100vw, 1245px" /> </div>
    <a class="edgtf-video-button-play" href="https://www.twitch.tv/" target="_blank">
    <span class="edgtf-video-button-play-inner">
    <i class="fas fa-play"></i>
    </span>
    </a>
    <div class="edgtf-sb-text-holder">
    <a href="https://www.twitch.tv/" target="_blank">
    <h5 class="edgtf-sb-title">Destiny 2 Gameplay</h5>
    </a>
    <div class="edgtf-sb-platform">twitch</div>
    <div class="edgtf-sb-channel">oyakkodon</div>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-1.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://www.twitch.tv/" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-2.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-2.jpg 621w, /images/h1-streambox-v2-img-2-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">CS: GO STREAM</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-2.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://www.twitch.tv/" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-3.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-3.jpg 621w, /images/h1-streambox-v2-img-3-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">Dota 2 Live</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-3.jpg);"></div>
    </div>
    </div></div>
    <div class="edgtf-tab-container" id="tab-youtube-902"><div class="edgtf-stream-box-holder  edgtf-sb-standard">
    <div class="edgtf-sb-main-stream-item">
    <div class="edgtf-sb-main-stream-holder">
    <a class="edgtf-sb-link" href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank"></a>
    <div class="edgtf-sb-main-image">
    <img width="1245" height="700" src="/images/h1-streambox-v2-img-5.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-5.jpg 1245w, /images/h1-streambox-v2-img-5-300x169.jpg 300w, /images/h1-streambox-v2-img-5-768x432.jpg 768w, /images/h1-streambox-v2-img-5-1024x576.jpg 1024w, /images/h1-streambox-v2-img-5-800x450.jpg 800w" sizes="(max-width: 1245px) 100vw, 1245px" /> </div>
    <a class="edgtf-video-button-play" href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank">
    <span class="edgtf-video-button-play-inner">
    <i class="fas fa-play"></i>
    </span>
    </a>
    <div class="edgtf-sb-text-holder">
    <a href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank">
    <h5 class="edgtf-sb-title">DOTA 2 LIVE</h5>
    </a>
    <div class="edgtf-sb-platform">youtube</div>
    <div class="edgtf-sb-channel">kasP Game</div>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-5.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-4.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-4.jpg 621w, /images/h1-streambox-v2-img-4-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">Street Fighter</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-4.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://www.youtube.com/channel/UC-h62vMXD5aZV5zAULD-SuA" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-6.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-6.jpg 621w, /images/h1-streambox-v2-img-6-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">Fortnite Live</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-6.jpg);"></div>
    </div>
    </div></div>
    <div class="edgtf-tab-container" id="tab-mixer-146"><div class="edgtf-stream-box-holder  edgtf-sb-standard">
    <div class="edgtf-sb-main-stream-item">
    <div class="edgtf-sb-main-stream-holder">
    <a class="edgtf-sb-link" href="https://mixer.com/" target="_blank"></a>
    <div class="edgtf-sb-main-image">
    <img width="1245" height="700" src="/images/h1-streambox-v2-img-7.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-7.jpg 1245w, /images/h1-streambox-v2-img-7-300x169.jpg 300w, /images/h1-streambox-v2-img-7-768x432.jpg 768w, /images/h1-streambox-v2-img-7-1024x576.jpg 1024w, /images/h1-streambox-v2-img-7-800x450.jpg 800w" sizes="(max-width: 1245px) 100vw, 1245px" /> </div>
    <a class="edgtf-video-button-play" href="https://mixer.com/" target="_blank">
    <span class="edgtf-video-button-play-inner">
    <i class="fas fa-play"></i>
    </span>
    </a>
    <div class="edgtf-sb-text-holder">
    <a href="https://mixer.com/" target="_blank">
    <h5 class="edgtf-sb-title">Destiny 2 Gameplay</h5>
    </a>
    <div class="edgtf-sb-platform">mixer</div>
    <div class="edgtf-sb-channel">kmagic101</div>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-7.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://mixer.com/" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-9.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-9.jpg 621w, /images/h1-streambox-v2-img-9-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">OVERWATCH LIVE</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-9.jpg);"></div>
    </div>
    <div class="edgtf-sb-bottom-stream-item">
    <div class="edgtf-sb-bottom-stream-holder">
    <a class="edgtf-sb-link" href="https://mixer.com/" target="_blank"></a>
    <div class="edgtf-sb-bottom-stream-image">
    <img width="621" height="350" src="/images/h1-streambox-v2-img-8.jpg" class="attachment-full size-full" alt="a" loading="lazy" srcset="/images/h1-streambox-v2-img-8.jpg 621w, /images/h1-streambox-v2-img-8-300x169.jpg 300w" sizes="(max-width: 621px) 100vw, 621px" /> </div>
    <div class="edgtf-sb-text-holder">
    <h6 class="edgtf-sb-title">Rocket League</h6>
    </div>
    </div>
    <div class="edgtf-stream-bgrnd" style="background-image: url(/images/h1-streambox-v2-img-8.jpg);"></div>
    </div>
    </div></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>