<div class="vc_row wpb_row vc_row-fluid vc_custom_1529567793848 vc_row-has-fill edgtf-row-with-shadow edgtf-content-aligment-left" style="background-image: url(/images/h1-background-img-1.jpg)">
    <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-offset-0 vc_col-lg-6 vc_hidden-md vc_hidden-sm vc_hidden-xs">
    <div class="vc_column-inner vc_custom_1528296369765">
    <div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_left">
    <figure class="wpb_wrapper vc_figure">
    <div class="vc_single_image-wrapper   vc_box_border_grey">
    <img width="608" height="608" src="/images/h1-img-1.png" class="vc_single_image-img attachment-full" alt="a" loading="lazy" title="h1-img-1" srcset="/images/h1-img-1.png 608w, /images/h1-img-1-150x150.png 150w, /images/h1-img-1-300x300.png 300w, /images/h1-img-1-550x550.png 550w, /images/h1-img-1-100x100.png 100w" sizes="(max-width: 608px) 100vw, 608px" />
    </div>
    </figure>
    </div>
    </div>
    </div>
    </div>
    
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 edgtf-one-column-alignment-left">
    <div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-6807" data-1367-1600="157px 0 0px 0" data-1025-1366="159px 0 0 0" data-769-1024="117px 330px 159px 117px" data-681-768="118px 130px 158px 75px" data-680="120px 0 159px 22px">
    <div class="edgtf-eh-item-inner">
    <div class="edgtf-eh-item-content edgtf-eh-custom-6807" style="padding: 149px 0px 0px 111px">
    <div class="edgtf-section-title-holder  edgtf-st-standard edgtf-st-disable-title-break" style="padding: 0 0px;text-align: left">
    <div class="edgtf-st-inner">
    <h4 class="edgtf-st-title">
    GAME EXPO: Where digital<br /> worlds meet real<br /> innovation </h4>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 32px">
    <span class="vc_empty_space_inner"></span>
    </div>
    <a itemprop="url" href="/esports-home/" target="_self" style="margin: -2px 0 0 0" class="edgtf-btn edgtf-btn-medium edgtf-btn-solid edgtf-solid-btn-with-shadow edgtf-btn-glow">
    <span class="edgtf-btn-text">View Schedule</span>
    </a> 
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>