<div class="edgtf-row-grid-section-wrapper edgtf-parallax-row-holder edgtf-row-with-shadow edgtf-content-aligment-center" data-parallax-bg-image=/images/h1-parallax-2.jpg data-parallax-bg-speed=1>
    <div class="edgtf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1530542080210">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-counter-holder ">
    <div class="edgtf-counter-inner">
    <span class="edgtf-counter edgtf-zero-counter">135</span>
    <h6 class="edgtf-counter-title">
    Games Played </h6>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 65px">
    <span class="vc_empty_space_inner"></span>
    </div>
    </div>
    </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-counter-holder ">
    <div class="edgtf-counter-inner">
    <span class="edgtf-counter edgtf-zero-counter">89</span>
    <h6 class="edgtf-counter-title">
    Flags Taken </h6>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 65px">
    <span class="vc_empty_space_inner"></span>
    </div>
    </div>
    </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-counter-holder ">
    <div class="edgtf-counter-inner">
    <span class="edgtf-counter edgtf-zero-counter">32</span>
    <h6 class="edgtf-counter-title">
    Deathmatches </h6>
    </div>
    </div><div class="vc_empty_space" style="height: 65px"><span class="vc_empty_space_inner"></span></div></div></div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12">
    <div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-counter-holder ">
    <div class="edgtf-counter-inner">
    <span class="edgtf-counter edgtf-zero-counter">17</span>
    <h6 class="edgtf-counter-title">
    Tournaments </h6>
    </div>
    </div><div class="vc_empty_space" style="height: 65px"><span class="vc_empty_space_inner"></span></div></div></div>
    </div>
    </div>
    </div>
    </div>