<div class="edgtf-row-grid-section-wrapper " style="background-image: url()">
    <div class="edgtf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1530543112680">
    <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
    <div class="wpb_wrapper">
    <div class="edgtf-elements-holder   edgtf-two-columns  edgtf-responsive-mode-1024 edgtf-one-column-alignment-left">
    <div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-4246" data-1367-1600="83px 100px 22px 0" data-1025-1366="58px 100px 0px 0" data-769-1024="133px 0 0 0" data-681-768="133px 0 0 0" data-680="133px 0 0 0">
    <div class="edgtf-eh-item-inner">
    <div class="edgtf-eh-item-content edgtf-eh-custom-4246" style="padding: 92px 100px 31px 0px">
    <div class="edgtf-section-title-holder  edgtf-st-standard " style="padding: 0 0px;text-align: left">
    <div class="edgtf-st-inner">
    <h4 class="edgtf-st-title">
    Contact us </h4>
    <div class="edgtf-st-separator" style="margin-top: 5px">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124.985px" height="3.411px" viewBox="0 0 124.985 3.411" enable-background="new 0 0 124.985 3.411" xml:space="preserve">
    <polygon fill="#FFFFFF" points="0,0 124.985,0 124.985,1.121 96.484,1.121 86.944,3.411 38.67,3.411 29.162,1.121 0,1.121 " />
    </svg> </div>
    <p class="edgtf-st-text" style="margin-top: 26px">
    Proin gravida nibh vel velit auctor aliquet. Aenean velit sollicitudin, lorem quis bibendum auctor, nisi elit ipsum consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 26px"><span class="vc_empty_space_inner"></span></div><div class="edgtf-icon-list-holder ">
    <div class="edgtf-il-icon-holder">
    <i class="edgtf-icon-font-awesome fa fa-location-arrow "></i> </div>
    <a itemprop="url" href="https://www.google.rs/maps/place/Auguststra%C3%9Fe,+10117+Berlin,+Germany/@52.5270663,13.3948265,17z/data=!3m1!4b1!4m5!3m4!1s0x47a851e66db8019f:0xc5f2b9e49b43ca32!8m2!3d52.5270663!4d13.3970152" target="_blank">
    <span class="edgtf-il-text" style="padding-left: 27px">Auguststraße 245, 10117 Berlin</span>
    </a>
    </div><div class="edgtf-icon-list-holder ">
    <div class="edgtf-il-icon-holder">
    <i class="edgtf-icon-font-awesome fa fa-envelope "></i> </div>
    <a itemprop="url" href="/cdn-cgi/l/email-protection#0e2b3c3e676068614e6b766f637e626b206d6163" target="_self">
    <span class="edgtf-il-text" style="padding-left: 27px"><span class="__cf_email__" data-cfemail="cfbfa3aeb6aabdb78faab7aea2bfa3aae1aca0a2">[email&#160;protected]</span></span>
    </a>
    </div> </div>
    </div>
    </div>
    <div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-1713" data-1367-1600="141px 0 0 0" data-1025-1366="141px 0 0 0" data-769-1024="45px 0 0 0" data-681-768="45px 0 0 0" data-680="45px 0 0 0">
    <div class="edgtf-eh-item-inner">
    <div class="edgtf-eh-item-content edgtf-eh-custom-1713" style="padding: 141px 0 0 0">
    <div role="form" class="wpcf7" id="wpcf7-f347-p6-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
    
    
    <form action="/#wpcf7-f347-p6-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
    <div style="display: none;">
    <input type="hidden" name="_wpcf7" value="347" />
    <input type="hidden" name="_wpcf7_version" value="5.6.2" />
    <input type="hidden" name="_wpcf7_locale" value="en_US" />
    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f347-p6-o1" />
    <input type="hidden" name="_wpcf7_container_post" value="6" />
    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
    </div>
    
    <div class="edgtf-custom-contact-form">
    <div class="edgtf-grid-row">
    <div class="edgtf-grid-col-12">
    <span class="wpcf7-form-control-wrap" data-name="your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span>
    </div>
    <div class="edgtf-grid-col-12">
    <span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span>
    </div>
    </div>
    <span class="wpcf7-form-control-wrap" data-name="your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message..."></textarea></span>
    <input type="submit" value="submit" class="wpcf7-form-control has-spinner wpcf7-submit" />
    </div>
    
    <div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    