<rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;">
    <rs-module id="rev_slider_2_1" style="" data-version="6.5.25">
    <rs-slides>
    
    <rs-slide style="position: absolute;" data-key="rs-2" data-title="Slide" data-thumb="https://6am3r.github.io/images/h1-slider-1-background-img-100x50.jpg" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
    <img src="https://6am3r.github.io/plugins/revslider/public/assets/assets/dummy.png" alt="" title="Main Home" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="https://6am3r.github.io/images/h1-slider-1-background-img.jpg" data-bg="p:right center;" data-panzoom="d:10000;ss:100;se:110;" data-no-retina>
    <rs-layer id="slider-2-slide-2-layer-1" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:-15px,-58px,-82px,-79px;" data-text="w:nowrap,nowrap,nowrap,normal;s:80,65,56,40;l:84,70,60,44;fw:700;a:inherit,inherit,inherit,center;" data-dim="w:auto,auto,auto,273px;" data-frame_0="y:-30px;tp:600;" data-frame_1="tp:600;e:circ.out;st:300;sp:500;sR:300;" data-frame_999="o:0;tp:600;st:w;sR:3200;" style="z-index:5;font-family:'Rubik';text-transform:uppercase;">Onwards To Glory!
    </rs-layer><rs-layer id="slider-2-slide-2-layer-2" data-type="text" data-xy="x:c;y:m;yo:93px,36px,5px,18px;" data-text="l:22;a:inherit;" data-rsp_bd="off" data-frame_0="y:-30px;tp:600;" data-frame_1="tp:600;e:circ.out;st:500;sp:500;sR:500;" data-frame_999="o:0;tp:600;st:w;sR:3000;" style="z-index:6;font-family:'';"><a itemprop="url" href="https://qodeinteractive.com/purchase/playerx/" target="_blank" class="edgtf-btn edgtf-btn-medium edgtf-btn-solid edgtf-btn-trapeze-shape edgtf-solid-btn-with-shadow edgtf-btn-glow">
    <span class="edgtf-btn-trapeze-left-side"></span>
    <span class="edgtf-btn-text">Buy Theme</span>
    <span class="edgtf-btn-trapeze-right-side"></span>
    </a>
    </rs-layer> </rs-slide>
    
    <rs-slide style="position: absolute;" data-key="rs-7" data-title="Slide" data-thumb="https://6am3r.github.io/images/h1-slider-2-background-img-100x50.jpg" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
    <img src="https://6am3r.github.io/plugins/revslider/public/assets/assets/dummy.png" alt="" title="Main Home" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="https://6am3r.github.io/images/h1-slider-2-background-img.jpg" data-bg="p:left bottom;" data-panzoom="d:10000;ss:100;se:110;" data-no-retina>
    <rs-layer id="slider-2-slide-7-layer-1" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:-15px,-58px,-82px,-79px;" data-text="w:nowrap,nowrap,nowrap,normal;s:80,65,56,40;l:84,70,60,44;fw:700;a:inherit,inherit,inherit,center;" data-dim="w:auto,auto,auto,273px;" data-frame_0="y:-30px;tp:600;" data-frame_1="tp:600;e:circ.out;st:300;sp:500;sR:300;" data-frame_999="o:0;tp:600;st:w;sR:3200;" style="z-index:5;font-family:'Rubik';text-transform:uppercase;">You Speak Of Justice?
    </rs-layer><rs-layer id="slider-2-slide-7-layer-2" data-type="text" data-xy="x:c;y:m;yo:93px,36px,5px,18px;" data-text="l:22;a:inherit;" data-rsp_bd="off" data-frame_0="y:-30px;tp:600;" data-frame_1="tp:600;e:circ.out;st:500;sp:500;sR:500;" data-frame_999="o:0;tp:600;st:w;sR:3000;" style="z-index:6;font-family:'';"><a itemprop="url" href="https://qodeinteractive.com/purchase/playerx/" target="_blank" class="edgtf-btn edgtf-btn-medium edgtf-btn-solid edgtf-btn-trapeze-shape edgtf-solid-btn-with-shadow edgtf-btn-glow">
    <span class="edgtf-btn-trapeze-left-side"></span>
    <span class="edgtf-btn-text">Buy Theme</span>
    <span class="edgtf-btn-trapeze-right-side"></span>
    </a>
    </rs-layer> </rs-slide>
    
    <rs-slide style="position: absolute;" data-key="rs-8" data-title="Slide" data-thumb="https://6am3r.github.io/images/h1-slider-3-background-img-100x50.jpg" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
    <img src="https://6am3r.github.io/plugins/revslider/public/assets/assets/dummy.png" alt="" title="Main Home" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="https://6am3r.github.io/images/h1-slider-3-background-img.jpg" data-panzoom="d:10000;ss:100;se:110;" data-no-retina>
    <rs-layer id="slider-2-slide-8-layer-1" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:-15px,-58px,-82px,-79px;" data-text="w:nowrap,nowrap,nowrap,normal;s:80,65,56,40;l:84,70,60,44;fw:700;a:inherit,inherit,inherit,center;" data-dim="w:auto,auto,auto,273px;" data-frame_0="y:-30px;tp:600;" data-frame_1="tp:600;e:circ.out;st:300;sp:500;sR:300;" data-frame_999="o:0;tp:600;st:w;sR:3200;" style="z-index:5;font-family:'Rubik';text-transform:uppercase;">Repel the Invaders!
    </rs-layer><rs-layer id="slider-2-slide-8-layer-2" data-type="text" data-xy="x:c;y:m;yo:93px,36px,5px,18px;" data-text="l:22;a:inherit;" data-rsp_bd="off" data-frame_0="y:-30px;tp:600;" data-frame_1="tp:600;e:circ.out;st:500;sp:500;sR:500;" data-frame_999="o:0;tp:600;st:w;sR:3000;" style="z-index:6;font-family:'';"><a itemprop="url" href="https://qodeinteractive.com/purchase/playerx/" target="_blank" class="edgtf-btn edgtf-btn-medium edgtf-btn-solid edgtf-btn-trapeze-shape edgtf-solid-btn-with-shadow edgtf-btn-glow">
    <span class="edgtf-btn-trapeze-left-side"></span>
    <span class="edgtf-btn-text">Buy Theme</span>
    <span class="edgtf-btn-trapeze-right-side"></span>
    </a>
    </rs-layer> </rs-slide>
    
    </rs-slides>
    </rs-module>
    <script>
                        setREVStartSize({c: 'rev_slider_2_1',rl:[1920,1441,1025,480],el:[],gw:[1200,1100,600,300],gh:[750,600,600,500],type:'standard',justify:'',layout:'fullscreen',offsetContainer:'',offset:'',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider21"]!==undefined) {window.RS_MODULES.modules["revslider21"].once = false;window.revapi2 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
                    </script>
    </rs-module-wrap>
    