<div class="edgtf-fullscreen-search-holder">

    <a class="edgtf-search-close edgtf-search-close-svg-path" href="javascript:void(0)">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.922px" height="23.916px" viewBox="0 0 23.922 23.916" enable-background="new 0 0 23.922 23.916" xml:space="preserve">
    <polygon fill="#ffffff" points="23.923,20.992 14.889,11.958 23.915,2.932 20.984,0.001 11.958,9.027 2.938,0.006 0.006,2.938 
        9.026,11.958 0,20.984 2.932,23.916 11.958,14.89 20.992,23.923 " />
    </svg> 
    </a>
    
    <div class="edgtf-fullscreen-search-table">
    <div class="edgtf-fullscreen-search-cell">
    <div class="edgtf-fullscreen-search-inner">
    <form action="/" class="edgtf-fullscreen-search-form" method="get">
    <div class="edgtf-form-holder">
    <div class="edgtf-form-holder-inner">
    <div class="edgtf-field-holder">
    <input type="text" placeholder="TYPE YOUR SEARCH..." name="s" class="edgtf-search-field" autocomplete="off" />
    </div>
    <button type="submit" class="edgtf-search-submit edgtf-search-submit-svg-path">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.34px" height="25.341px" viewBox="0 0 25.34 25.341" enable-background="new 0 0 25.34 25.341" xml:space="preserve">
    <path fill="#ffffff" d="M25.34,22.409l-6.343-6.343c1.084-1.637,1.719-3.598,1.719-5.708C20.716,4.637,16.079,0,10.358,0
        S0,4.637,0,10.358s4.637,10.358,10.358,10.358c2.11,0,4.071-0.635,5.708-1.718l6.343,6.343L25.34,22.409z M4,10.358
        C4,6.852,6.852,4,10.358,4s6.358,2.852,6.358,6.358c0,1.638-0.628,3.128-1.649,4.256l-0.451,0.451
        c-1.128,1.022-2.62,1.65-4.258,1.65C6.852,16.716,4,13.864,4,10.358z" />
    </svg> </button>
    <div class="edgtf-line"></div>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>