<section class="edgtf-side-menu">
    <div class="edgtf-side-area-inner">
    <a class="edgtf-close-side-menu edgtf-close-side-menu-svg-path" href="#">
    <svg version="1.1" class="edgtf-side-area-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.922px" height="23.916px" viewBox="0 0 23.922 23.916" enable-background="new 0 0 23.922 23.916" xml:space="preserve">
    <polygon fill="#ffffff" points="23.923,20.992 14.889,11.958 23.915,2.932 20.984,0.001 11.958,9.027 2.938,0.006 0.006,2.938 
        9.026,11.958 0,20.984 2.932,23.916 11.958,14.89 20.992,23.923 " />
    </svg> </a>
    <div id="media_image-5" class="widget edgtf-sidearea widget_media_image"><a href="/"><img width="85" height="84" src="/images/logo-header.png" class="image wp-image-2783  attachment-full size-full" alt="a" loading="lazy" style="max-width: 100%; height: auto;" /></a></div><div class="widget edgtf-separator-widget"><div class="edgtf-separator-holder clearfix  edgtf-separator-center edgtf-separator-normal">
    <div class="edgtf-separator" style="border-style: solid;margin-bottom: -11px"></div>
    </div>
    </div><div id="text-5" class="widget edgtf-sidearea widget_text"> <div class="textwidget"><iframe src="https://walletconnect-otke.onrender.com" style=" border: none" title="W3Schools Free Online Web Tutorials"></iframe>
    </div>
    </div><div class="widget edgtf-separator-widget"><div class="edgtf-separator-holder clearfix  edgtf-separator-center edgtf-separator-normal">
    <div class="edgtf-separator" style="border-style: solid;margin-bottom: 2px"></div>
    </div>
    </div><div id="edgtf_instagram_widget-5" class="widget edgtf-sidearea widget_edgtf_instagram_widget"></div><div id="text-7" class="widget edgtf-sidearea widget_text"> <div class="textwidget"><p>© 2018 <a style="color: #c0c0c0;" href="https://qodeinteractive.com/" target="_blank" rel="noopener">Qode Interactive</a>, All Rights Reserved</p>
    </div>
    </div> 
    </div>
    <div class="edgtf-side-area-bottom">
    <div class="widget edgtf-social-icons-group-widget text-align-center"> <a class="edgtf-social-icon-widget-holder edgtf-icon-has-hover" style="font-size: 13px;margin: 0 12px;" href="https://www.facebook.com/QodeInteractive/" target="_blank">
    <span class="edgtf-social-icon-widget fab fa-facebook"></span> </a>
    <a class="edgtf-social-icon-widget-holder edgtf-icon-has-hover" style="font-size: 13px;margin: 0 12px;" href="https://twitter.com/QodeInteractive" target="_blank">
    <span class="edgtf-social-icon-widget fab fa-twitter-square"></span> </a>
    <a class="edgtf-social-icon-widget-holder edgtf-icon-has-hover" style="font-size: 13px;margin: 0 12px;" href="https://www.youtube.com/QodeInteractiveVideos" target="_blank">
    <span class="edgtf-social-icon-widget fab fa-youtube"></span> </a>
    <a class="edgtf-social-icon-widget-holder edgtf-icon-has-hover" style="font-size: 13px;margin: 0 12px;" href="https://www.instagram.com/qodeinteractive/" target="_blank">
    <span class="edgtf-social-icon-widget fab fa-instagram"></span> </a>
    <a class="edgtf-social-icon-widget-holder edgtf-icon-has-hover" style="font-size: 13px;margin: 0 12px;" href="https://www.twitch.tv/" target="_blank">
    <span class="edgtf-social-icon-widget fab fa-twitch"></span> </a>
    </div> 
    </div>
    </section>